
<div class="navbar-bottom" style="background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;">
      <a href="/" style=" margin-left: 30px;" >Home</a>
  <a href="/tog" style=" margin-left: 30px;" >Terms and Condition</a>
  <a href="/pp" style=" margin-left: 30px;">Privacy Policy</a>
  <a href="/pi" style=" margin-left: 30px;">Payment Information</a>
    <a href="/ms" style=" margin-left: 30px;">Mission Statement</a>
      <a href="/faq" style=" margin-left: 30px;">FAQ</a>
</div>


