 <!DOCTYPE html>
<html>

    <head>
        <title>Elite Consorts</title>
        
     <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
          <link href="https://fonts.googleapis.com/css?family=Lato|Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="/stylesheet/landing.css">-->
             <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
<!-- In <head> -->
<link rel='stylesheet' href='https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.css'>
<link rel='stylesheet' href='https://cdn.rawgit.com/Dispute-Bills/wnumb/master/noui-pips.css'>
    </head>
<body style="font-family: 'Lato', sans-serif;">
    
  <nav class="navbar navbar-default navbar-fixed-top" style=" background-color:	#FFFFFF;  min-height: 80px;  ">
    
    <div class="container-fluid">
        <div class="navbar-header">
              <a class="navbar-brand" style="font-family: 'Great Vibes', cursive; 
              padding: 0 15px;
  height: 80px;
  line-height: 80px;font-size:30px; font-weight:900; color:black;" href="/"><span style="color:#F08080;">Elite </span><span>Consorts</span></a>
        </div>
   
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
         
        </ul>
        </div>
    </div>
</nav>


  <div style="padding-bottom: 100px;">
    
    
</div>

  <div class="ui container six wide row">
       <div  style="margin:50px 50px 10px 20px">
          <span class="ui medium header">
            Filter by:
          </span>
 
         
         
            <select id="gender" class="ui form-group dropdown" name="gender" placeholder="gender" type="text">
              <option value="default">Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            <option value="Transgender">Post-Op Trans</option>
               <option value="Transgender">Pre-Op Trans</option>
            </select>
     
  
     
            <select id="ethnicity" class="ui form-group dropdown" name="ethnicity" placeholder="ethnicity" type="text">
              <option value="default">Ethnicity</option>
              <option value="Asian">Asian</option>
              <option value="Hispanic">Hispanic</option>
               <option value="Latina">Latina</option>
              <option value="Black">Black</option>
            </select>
             <div class="ui container grid "
             
             style=" padding: 20px 0px;">
                 <p >Age:</p>
             <p id="slider" style="width:300px;"></p>
              <p>Height:</p>
               <p id="slider1" style="width:300px;"></p>
                     </div>
        
        <div class="ui container grid "
             
             style=" padding: 20px 0px;">
                 <p >MinAge:</p>
                 <p id="minAge"></p>
                 
             <p >MaxAge:</p>
                 <p id="maxAge"></p>
              <p>MinHeight:</p>
                  <p id="minHeight"></p>
                   <p>MaxHeight:</p>
                  <p id="maxHeight"></p>
                     </div>
        
         <button class="ui huge inverted blue button" onclick="func()">Apply</button>
               <button class="ui huge inverted blue button" onclick="func1()">Refresh</button>
     </div>
 <div class="ui grid" id="demo"></div>
                

         
            
                  
           

                    <% include partials/footer %>
                  <script src='https://cdn.rawgit.com/Dispute-Bills/wnumb/master/wNumb.js'></script>
<script src='https://cdn.rawgit.com/leongersen/noUiSlider/master/distribute/nouislider.min.js'></script>

                <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
   var name;
   var rows;
  var age,gender,ethnicity,minAge,maxAge,minHeight,maxHeight,height;
  var slider = document.getElementById('slider');
    var slider1 = document.getElementById('slider1');
   $(function (){
noUiSlider.create(slider, {
    start: [18,50],
    connect: true,
    step: 1,
    range: {
        'min': 18,
        'max': 50
    }
});
noUiSlider.create(slider1, {
    start: [150,190],
    connect: true,
    step: 1,
    range: {
        'min': 150,
        'max': 190
    }
});
slider.noUiSlider.on('update', function(values, handle) {
    var mstring=parseInt(values[0])+"yrs";
    var mastring=parseInt(values[1])+"yrs";
     $("#minAge").text(mstring);
        $("#maxAge").text(mastring);
        
    console.log("first value:"+values[0]);// value for updated handle is in values[handle]
    console.log("second value:"+values[1]);
});
slider1.noUiSlider.on('update', function(values, handle) {
    var minstring=parseInt(values[0]/30)+"'"+parseInt((parseInt(values[0])-parseInt(parseInt(values[0]/30)*30))*0.39)+"\"";
      var maxstring=parseInt(values[1]/30)+"'"+parseInt((parseInt(values[1])-parseInt(parseInt(values[1]/30)*30))*0.39)+"\"";
     $("#minHeight").text(minstring);
        $("#maxHeight").text(maxstring);
        
    console.log("first value:"+values[0]);// value for updated handle is in values[handle]
    console.log("second value:"+values[1]);
});
 rows =<%-JSON.stringify(users)%>
    $('#minAge').val('default');
        $('#maxAge').val('default');
                $('#gender').val('default');
                        $('#minHeight').val('default');
                         $('#maxHeight').val('default');
                                $('#ethnicity').val('default');
 func();
 // console.log(rows[0]);
//  for ( var i = 0, l = rows.length; i < l; i++) {
//     $.each(rows[i], function( index, value ) {
//  console.log( index + ": " + value );
// });
// }

   });

        
        function func(){
             $('#minAge').val('default');
        $('#maxAge').val('default');
            //    $('#gender').val('default');
                        $('#minHeight').val('default');
                         $('#maxHeight').val('default');
                          //      $('#ethnicity').val('default');
            // console.log(slider.noUiSlider.get());
         var ageui=   slider.noUiSlider.get();
             var heightui=   slider1.noUiSlider.get();
  minAge =ageui[0];
  maxAge =ageui[1];
  
  minHeight =heightui[0];
  maxHeight=heightui[1];
    maxHeight =$('#maxHeight').val()
        gender=$('#gender').val()
         ethnicity=$('#ethnicity').val()
    //     height=$('#height').val()
          var content ="";
   for ( var i = 0, l = rows.length; i < l; i++) {
       var flag=0;
    $.each(rows[i], function( index, value ) {
       // console.log(rows[i].gender);
      if((gender=="default"||rows[i].gender==gender)&&(ethnicity=="default"||rows[i].ethnicity==ethnicity)&&(rows[i].age>=minAge&&rows[i].age<=maxAge)&&(rows[i].height>=minHeight&&rows[i].height<=maxHeight))
 { 
     flag=1;
     
     
     console.log( "flag one");
     
     
 }

});
if(flag==1){
    console.log("images:"+rows[0].image[0]);
    content  =content+ '<div class="four wide column"><div "ui card container"> <div class="ui medium fluid rounded image">  <svg width="150" height="150"> <image xlink:href=\"/uploads/'+rows[0].image[0]+'\" width="100%" height="100%"></image></svg></div>'+
'    <div class="ui huge header"> Name: <span>'+rows[i].name +'</span> </div>'+
'    <div class="ui huge header"> Age: <span>'+rows[i].age +'</span> </div>'+
'    <div class="ui huge header"> Gender: <span>'+rows[i].gender +'</span> </div>'+
'  <div class="ui huge header"> Ethnicity: <span>'+rows[i].ethnicity +'</span> </div></div></div>';
 $('#demo').html(content)}
}

            
 //    console.log(gender)
            
            
        }
           
        function func1(){
            
               $('#minAge').val('default');
        $('#maxAge').val('default');
                $('#gender').val('default');
                        $('#minHeight').val('default');
                         $('#maxHeight').val('default');
                                $('#ethnicity').val('default');
        $('#age').val('default');
                $('#gender').val('default');
                        $('#height').val('default');
                                $('#ethnicity').val('default');
 // console.log(gender)
    
                 
            func();
            
        }

        
</script>
  
  
  
  