<!DOCTYPE html>

<html>
<head>
	<title>Groom Session</title>
	
	<link rel="stylesheet" type="text/css" href="/stylesheet/groom.css">
</head>
<body>

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<div class="post">
	 
	<div class="date">Introduction</div>
	<h2>What is a Sugar Daddy?</h2>

	<p class="quote">
		Very successful entrepreneurs, corporate employees and businessmen and women who already know what they want.  	</p>

	<p>They are well off individuals who don’t have the time to spend looking for companionship.</p>

	<p>They have lots of excess money and are ready for the opportunity to connect and support their  Sugar Baby</p>
	<hr>
</div>

<!-- <hr> -->

<div class="post">
	<div class="date">Elite Consort</div>
	<h2>Balancing Schedule</h2>

	<p class="quote">
Elite Consorts will allow you to find relationships according to your schedule. A Sugar Dady is a person who is experienced and responsible, balancing the workplace, home, and passion for his hobbies.  They can be well traveled or ready to travel with that special someone.	</p>
<h2>Makes Time for Pleasure</h2>
	<p>
An Elite Consort Sugar Daddy is as meticulous about his or her date, just as they would be with their work schedule.  Prioritizing the date on his schedule and then planning out the night, from the time of pick up and arrival to the restaurant to any other activities or travels planned for the occasion.		</p>
<h2>Balancing Schedule</h2>
	<p>
The modern gentleman is the backbone of Elite Consorts.  He has a hectic work schedule and is very successful, but still makes time for the finer things in life. He is knowledgeable and articulate and looking for another attractive person to enhance their journey through life.  Time is money and Elite Consorts is driven to make that time as efficient as possible.		
</p>
<h2>Modern Gentleman</h2>
	<p>
An Elite Consorts Sugar Daddy is all work 24/7. The workplace never ceases to leave his thoughts and just being able to leave the office is a great feat in itself.  A Sugar Daddy may not be able to respond to messages or calls right away, but be patient because he is handling business, so that afterward he can handle a relationship with the same respect and intensity.
</p>





</div>
<div class="post">
	<div class="date">Sugar Baby</div>
	<h2>Who is a Sugar Baby?</h2>

	<p class="quote">
Attractive young people who are ready to step into the high-class lifestyle.  Sugar Babies are able to experience a luxurious lifestyle as they meet with successful people from a variety of backgrounds.  Receiving trips to exotic destinations and various gifts.

	<h2>Dating with predetermined guidelines</h2>
	<p>
An Elite Consorts Sugar Baby is a person looking for a real relationship, life experience, and support. There are many types of people who can be a Sugar Babies since there are equally many Sugar Daddies who have different types when it comes to that special somebody. Because all the members on EliteConsorts.com are looking for a relationship on predetermined terms, what is expected in the relationship is clear as day, which we have come to find, results in true feelings of love and long lasting relationships.
</p>

	<h2>
Educated Sugar Babies
</h2>

	<p>
The truth of the matter is that college students and people looking for the means to attend college make up a significant portion of EliteConsorts.com members.  Sugar Daddies find it very attractive when they meet an educated Sugar Baby who can keep up with the best of them, when it comes to being articulate and knowledgeable.  Our network helps its members connect with financially supportive relationships and network with powerful individuals who can help and mentor members who are up and coming professionals.  The main point is that these will be relationships and connections on your terms. </p>
	<p>
An Elite Consorts Sugar Daddy is all work 24/7. The workplace never ceases to leave his thoughts and just being able to leave the office is a great feat in itself.  A Sugar Daddy may not be able to respond to messages or calls right away, but be patient because he is handling business, so that afterward he can handle a relationship with the same respect and intensity.
</p>
	<h2>
New Era of Dating
</h2>

	<p>
Traditional methods of meeting people have been outdated for decades.  As technology grows and our amount free time decreases, our methods for creating relationships must change as well.  With the small amount of free time an individual has, it is crucial that we are more efficient in how we obtain our relationships.  On EliteConsorts.com Sugar Babies can narrow down exactly what they want and need in a relationship as can the Sugar Daddies.  Using this network supplied by Elite Consorts members can quickly begin meaningful relationships with the right person, with both people knowing exactly what is on the table.


</p>
<h2>Feel Empowered</h2>

	<p>
We encourage Sugar Babies to feel empowered.  Raise the bar on who you think your significant other should be and what level your lifestyle should be on.  Take ownership of your future and fight to conquer all your dreams.  You are attractive and there are thousands of people in our network who are more than willing to splurge on you.  Don’t be shy, be a boss and start a new chapter that includes the finer things in life.
</p>





</div>
<a type="button" href="/quiz">
	Take Quiz
</a>
</body>
    <% include partials/footer %>
</html>