<!DOCTYPE html>
<html>

    <head>
        <title>Elite Consorts</title>
        
     <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
          <link href="https://fonts.googleapis.com/css?family=Lato|Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/signup.css">
    
    </head>
    <body style="  height: 100%;
    overflow: hidden;
    padding-top: 100px;  overflow: hidden;">
       
   <nav class="navbar navbar-default navbar-fixed-top" style="background-color:	#F0E68C;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
           
          
       
		<h1 class="brand brand-name navbar-left"><div class"navbar-left">Elite Consorts</h1>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/userprofiles/new">Back to Sign Up</a></li>
   			
    	
            </ul>
        </div>
    </div>
</nav>
<div style="
     
      position: fixed;
      
    margin:0 auto;
      background-color:white;">
    
    <div class="ui medium header">Premium+ Members enjoy the same benefits as Premium Members, but receive extra perks in addition:

You will receive free shipping on select items in the Crunchyroll Store.
You receive access to special Premium+ only events at conventions.
In the future, beta access for new site features will be available for Premium+ members.
More Premium+ benefits are on the way! Stay tuned for announcements!
To find costs and differences between plans check out the Plan Comparison page here.

To find more FAQ’s and knowledge base questions and answers, access the rest of our knowledge base.
To check out the forums, find shared answers from other users, or post a question about shows and other interests, check out Crunchyroll forums.
If you still need further help, need something changed regarding your account, or would like to contact us directly, please contact us with the details.</div>
    
</div> 



<% include partials/footer %>