<% include partials/header%>

<% include partials/messages %>

    
  <div class="container" style="margin:200px 10px 50px 50px">
    
    
 		
		<a href="/mommies" class="btn btn-lg btn-success">View Our Sugar Mommies</a>
		<a href="/daddies" class="btn btn-lg btn-success">View Our Sugar Daddies</a>
    </div>
 

<% include partials/footer %>

