<!DOCTYPE html>
<html>

    <head>
        <title>Elite Consorts</title>
        
     <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
          <link href="https://fonts.googleapis.com/css?family=Lato|Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/signup.css">
         <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    
    </head>
       
   <nav class="navbar navbar-default navbar-fixed-top" style="background-color:	#FFFFFF;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
           
          
       
		<h1 class="brand brand-name navbar-left"><div class"navbar-left"><a href="/" style="font-family: 'Great Vibes', cursive;color:black "><span style="color:#F08080;">Elite </span><span>Consorts</span></a></h1>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/instructions">Know the difference between Premium and Regular</a></li>
   			
    	
            </ul>
        </div>
    </div>
</nav>
<body style="font-family: 'Lato', sans-serif;">
<div style=" width:200px;
      height:200px;
      position: fixed;
      
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -100px;">
          <% include partials/messages %>
    <a  href="/newprem" class="ui container inverted red button" style="margin:50px;">
        Become a Premium Member 
    </a>
    <a  href="/newreg" class="ui container inverted violet button"style="margin:auto;" >
        Become a Regular Member
    </a>
   
    
</div> 
    
 <% include partials/footer1 %>
