<% include partials/header%>

<div class="container">
  
    <h1 style="text-align:center">Create a New Profile</h1>
      <div style="width:30%; margin:30px auto">
<form action="/userprofiles" method="POST">
    
    
    <input class="form-control" type="text" name="name" placeholder="name">
    <input class="form-control" type="text" name="image"  placeholder="image url">
    <button class="btn btn-md btn-default btn-block">
        Create
    </button>
    
</form>

<a href="/userprofiles"> Go Back</a>
</div>
</div>
<% include partials/footer %>